@CHARSET "UTF-8";

* {
    padding: 0;
    margin: 0;
} 

body {
background: #ffffff;
font-size: 11px;
line-height: 18px;
padding-left: 5px;
padding-right: 5px;
}

h1 {
color: #ffffff;
background: #336600;
font-size: 26px;
font-weight: 100;
letter-spacing: -1px;
padding: 12px 0 5px 10px;
}

h2 {
color: #336600;
font-size: 15px;
font-weight: 150;
padding: 10px 0px 5px 11px;
border: 0px 0px 1px 0px;
border-bottom-style: solid;
letter-spacing: -1px;
line-height: 12px;
}

h3 {
color: #336600;
font-size: 11px;
font-weight: 150;
padding: 10px 0px 5px 11px;
border: 0px 0px 0px 0px;
border-bottom-style: solid;
letter-spacing: -1px;
line-height: 9px;
}

#exp td {
padding-left: 7px;
padding-right: 7px;
vertical-align: top;
width: 50%;
}

#em1 {
	color: #ff0000;
	font-weight: bold;
}

#em2 {
	color: #ff6600;
	font-weight: 150;
}

#em3 {
	color: #cc3300;
	font-weight: 150;
}
