/* 2019.01.23 s.furuta 新規作成 3.各種出力 */
@media print{
    .non-print {
        display:none;
    }
    .print {
        display:block;
    }
    .page-thead {
        display:table-header-group;
    }
    .scroll-hidden {
        overflow:hidden;
    }
}
