body{font-family:Verdana,"游ゴシック",YuGothic,"Hiragino Kaku Gothic ProN",Meiryo,sans-serif;}

ul,ol{list-style-type:none;}


/* * * * * * * * * * clearfix * * * * * * * * * */
.clearfix:after{
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.clearfix {display:inline-table;}


/* * * * * * * * * * メインビジュアル * * * * * * * * * */
#main_visual,#main_visualCoc{
	height:900px;
	min-width:1020px;
	background:#333;
	background-size:cover;
	background-position:top center;
	position:relative;
	overflow:hidden;
}
#main_visual img,#main_visualCoc img{
	position:absolute;
}
#main_visual.kakutoku_img{
	background-image: url("../images/pc/main_bg.jpg");
	display: block;
	display:none;
}
#main_visual.challenge_img{
	background-image: url("../images/pc/main_bg.jpg");
	display: block;
	display:none;
}
#main_visual.yet_img{
	background-image: url("../images/pc/main_bg0.jpg");
	display: block;
	display:none;
}
#main_visualCoc.kakutoku_img{
	background-image: url("../images/pc/main_bg_coc.jpg");
	display: block;
	display:none;
}
#main_visualCoc.yet_img{
	background-image: url("../images/pc/main_bg0_coc.jpg");
	display: block;
	display:none;
}
#main_visual.kakutoku_img img.mv_title{
	left:50%;
	top:50%;
	width:739px;
	height:322px;
	margin-top:-161px;
	margin-left:-369px;
	z-index:50;
}
#main_visualCoc.kakutoku_img img.mv_title{
	left:50%;
	top:50%;
	width:755px;
	height:325px;
	margin-top:-162px;
	margin-left:-378px;
	z-index:50;
}
#main_visual.challenge_img img.mv_title{
	left:50%;
	top:50%;
	width:843px;
	height:183px;
	margin-top:-92px;
	margin-left:-421px;
	z-index:50;
}
#main_visual.yet_img img.mv_title{
	left:50%;
	top:50%;
	width:823px;
	height:181px;
	margin-top:-90px;
	margin-left:-412px;
	z-index:50;
}
#main_visualCoc.yet_img img.mv_title{
	left:50%;
	top:50%;
	width:900px;
	height:141px;
	margin-top:-70px;
	margin-left:-450px;
	z-index:50;
}
#main_visual img.mv_per01{
	bottom:-80px;
	left:50%;
	margin-left:-590px;
	width:1181px;
	height:auto;
	z-index:49;
}
#main_visual img.mv_per02{
	bottom:-140px;
	left:50%;
	margin-left:-50%;
	width:100%;
	height:auto;
	z-index:48;
}
#main_visual img.mv_per03{
	bottom:0;
	left:50%;
	margin-left:-50%;
	width:100%;
	height:auto;
	z-index:47;
}
#main_visual img.mv_per04{
	bottom:0;
	left:50%;
	margin-left:-50%;
	width:100%;
	height:auto;
	z-index:46;
}
#main_visual img.mv_per05{
	bottom:-80px;
	left:50%;
	margin-left:-50%;
	width:100%;
	height:auto;
	z-index:45;
}
#main_visualCoc img.mv_per01{
	bottom:0px;
	left:50%;
	margin-left:-590px;
	width:1181px;
	height:auto;
	z-index:49;
}
#main_visualCoc img.mv_per02{
	bottom:-30px;
	left:50%;
	margin-left:-50%;
	width:100%;
	height:auto;
	z-index:48;
}


/* * * * * * * * * * グローバルナビゲーション * * * * * * * * * */
#global_nav,#global_navCoc{
	height:70px;
	background:#555;
	padding:0 6px;
	min-width:1020px;
}
#global_nav h1,#global_navCoc h1{
	line-height:70px;
	float:left;
}
#global_nav h1 img,#global_navCoc h1 img{
	height:28px;
	width:auto;
	margin-bottom:6px;
}
.menu{
	float:right;
}
.menu li{
	color:#fff;
	border-radius:6px;
	border:solid 1px #fff;
    background:rgba(255,255,255,0);
    float:left;
    line-height:20px;
    margin: 19px 4px;
    overflow:hidden;
}
.menu li a,.menu li button{
	color:#fff;
	padding:2px 4px;
	font-size:12px;
	display:block;
    background:rgba(255,255,255,0);
    transition: background-color 0.5s ease-out;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-ransition: background-color 0.5s ease-out;
    -ms-transition: background-color 0.5s ease-out;
    cursor:pointer;
}

.menu li a:hover,.menu li button:hover{
	width:100%;
	height:100%;
	color:#333;
    background:rgba(255,255,255,1);
}


/* スクロール時のグローバルナビゲーション固定 */
.fixed{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index:100;
}


/* * * * * * * * * * 各ステップ（プレゼンテーション以外） * * * * * * * * * */

.step_wrapper{
	width:100%;
	min-width:1020px;
	background-size:cover;
	position:relative;
}
.step{
	width:100%;
	position:relative;
	overflow:hidden;
	border-top: solid 2px #fff;
}

/* * * * * * * 左 * * * * * * */

/* チャート */
.left_chart{
	width:260px;
	background:#fff;
	position:absolute;
	top:0;
	left:0;
	min-height:300px;
	height:100%;
}
.left_chart .chart_box h4{
	text-align:center;
	font-size:22px;
	padding-top:40px;
}
.chart{ 
    float:left;
    position:relative; 
    margin:20px 50px;
    width:160px;
    height:160px;
    background-color:#d1d1d1;
    border-radius:50%;
}
.circle-mask-outer,.circle-mask-inner{
    overflow:hidden;
    position:absolute;
    width:80px;
    height:160px;
}
.circle-mask-outer.left{
    left:0;
}
.circle-mask-outer.right{
    right:0;
}
.circle-mask-outer.left .circle-mask-inner{
    left:100%;
    -webkit-transform-origin:0 50%;
    -ms-transform-origin:0 50%;
    transform-origin:0 50%;
}
.circle-mask-outer.right .circle-mask-inner{
    right:100%;
    -webkit-transform-origin:100% 50%;
    -ms-transform-origin:100% 50%;
    transform-origin:100% 50%;
}
.circle-body{
    border-radius:50%;
    position:absolute;
    width:160px;
    height:160px;
}
.circle-mask-outer.left .circle-body{
    right:0;
}
.circle-mask-outer.right .circle-body{
    left:0;
}
.chart-content{
    position:absolute;
    left:20px;
    top:20px;
    width:120px;
    height:120px;
    background-color:#fff;
    border-radius:50%;
    padding-top:40px;
    text-align:center;
    -webkit-backface-visibility:hidden;
}
.chart-content .text{ 
    left:5px;
    line-height:1;
    position:relative;
}
.chart-content .percent-number{
    font-size:36px;
    font-weight:normal;
}
.chart-content .percent-symbol{
    font-size:30px;
}
.chart-content .unit_text{
    font-size:12px;
    letter-spacing:0.1em;
}


/* * * * * * * 右 * * * * * * */
.right_units{
	width:100%;
	padding-left:260px;
	float:left;
	background:#aaa;
	min-height:300px;
}
.right_units .unit{
	width:760px;
	padding-left:18px;
	padding-right:18px;
	margin:0 auto;
	overflow:hidden;
	margin-top:110px;
	margin-bottom:90px;
}
.right_units .unit .mo_box{
	width:172px;
	float:left;
	margin-right: 12px;
	margin-bottom:20px;
}
.right_units .unit .mo_box:nth-child(4n){
	margin-right:0;
}
.unit li{
	float:left;
	text-align:center;
}
.right_units .unit li dl dt{
	text-align:center;
	position:relative;
	height:50px;
	width:360px;
	background:#ccc;
	color:#333;
	line-height:1.1em;
	font-size:14px;
	display:table-cell;
	vertical-align:middle;
	padding-left:8px;
	padding-right:8px;
}
.right_units .unit li.get dl dt{
	background:#fff;
}
.right_units .unit li dl dd{
	height:30px;
	line-height:30px;
	color:#fff;
	font-size:14px;
}

.mo_box a {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.mo_box a:hover, .mo_box a:focus, .mo_box a:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}


/* * * * * * * * * * 配色をセット（上のステップから） * * * * * * * * * */
	/* 上から１番目 */
	.step_wrapper li:first-of-type .circle-body,.step_wrapper li:nth-child(1) .unit li dl dd{
		background-color: #ef5945;
	}
	.step_wrapper li:first-of-type .chart-content .percent-number,
	.step_wrapper li:first-of-type .chart-content .percent-symbol,
	.step_wrapper li:first-of-type .chart-content .unit_text{
	    color: #ef9589;
	}
	.step_wrapper li:first-of-type .right_units{
		background: -moz-linear-gradient(top,#ffd0c8,#efc2bc);
        background: -ms-linear-gradient(top,#ffd0c8,#efc2bc);
		background: -webkit-gradient(linear,left top,left bottom,from(#ffd0c8),to(#efc2bc));
	}
	.step_wrapper li:first-of-type .right_units.getunit{
		background: -moz-linear-gradient(top,#ffa191,#ef9589);
        background: -ms-linear-gradient(top,#ffa191,#ef9589);
		background: -webkit-gradient(linear,left top,left bottom,from(#ffa191),to(#ef9589));
	}
	/* 上から２番目 */
	.step_wrapper li:nth-child(2) .circle-body,.step_wrapper li:nth-child(2) .unit li dl dd{
		background-color: #ef7e03;
	}
	.step_wrapper li:nth-child(2) .chart-content .percent-number,
	.step_wrapper li:nth-child(2) .chart-content .percent-symbol,
	.step_wrapper li:nth-child(2) .chart-content .unit_text{
	    color: #efab61;
	}
	.step_wrapper li:nth-child(2) .right_units{
		background: -moz-linear-gradient(top,#ffddb3,#efcda8);
        background: -ms-linear-gradient(top,#ffddb3,#efcda8);
		background: -webkit-gradient(linear,left top,left bottom,from(#ffddb3),to(#efcda8));
	}
	.step_wrapper li:nth-child(2) .right_units.getunit{
		background: -moz-linear-gradient(top,#ffba66,#efab61);
        background: -ms-linear-gradient(top,#ffba66,#efab61);
		background: -webkit-gradient(linear,left top,left bottom,from(#ffba66),to(#efab61));
	}
	/* 上から３番目 */
	.step_wrapper li:nth-child(3) .circle-body,.step_wrapper li:nth-child(3) .unit li dl dd{
		background-color: #efc203;
	}
	.step_wrapper li:nth-child(3) .chart-content .percent-number,
	.step_wrapper li:nth-child(3) .chart-content .percent-symbol,
	.step_wrapper li:nth-child(3) .chart-content .unit_text{
	    color: #efd461;
	}
	.step_wrapper li:nth-child(3) .right_units{
		background: -moz-linear-gradient(top,#fff3b3,#efe2a8);
        background: -ms-linear-gradient(top,#fff3b3,#efe2a8);
		background: -webkit-gradient(linear,left top,left bottom,from(#fff3b3),to(#efe2a8));
	}
	.step_wrapper li:nth-child(3) .right_units.getunit{
		background: -moz-linear-gradient(top,#ffe766,#efd461);
        background: -ms-linear-gradient(top,#ffe766,#efd461);
		background: -webkit-gradient(linear,left top,left bottom,from(#ffe766),to(#efd461));
	}
	/* 上から４番目 */
	.step_wrapper li:nth-child(4) .circle-body,.step_wrapper li:nth-child(4) .unit li dl dd{
		background-color: #9acd32;
	}
	.step_wrapper li:nth-child(4) .chart-content .percent-number,
	.step_wrapper li:nth-child(4) .chart-content .percent-symbol,
	.step_wrapper li:nth-child(4) .chart-content .unit_text{
	    color: #a6bf6a;
	}
	.step_wrapper li:nth-child(4) .right_units{
		background: -moz-linear-gradient(top,#becd9f,#b3bf95);
        background: -ms-linear-gradient(top,#becd9f,#b3bf95);
		background: -webkit-gradient(linear,left top,left bottom,from(#becd9f),to(#b3bf95));
	}
	.step_wrapper li:nth-child(4) .right_units.getunit{
		background: -moz-linear-gradient(top,#aecd70,#a6bf6a);
        background: -ms-linear-gradient(top,#aecd70,#a6bf6a);
		background: -webkit-gradient(linear,left top,left bottom,from(#aecd70),to(#a6bf6a));
	}
	/* 上から５番目 */
	.step_wrapper li:nth-child(5) .circle-body,.step_wrapper li:nth-child(5) .unit li dl dd{
		background-color: #32bf32;
	}
	.step_wrapper li:nth-child(5) .chart-content .percent-number,
	.step_wrapper li:nth-child(5) .chart-content .percent-symbol,
	.step_wrapper li:nth-child(5) .chart-content .unit_text{
	    color: #6abf6a;
	}
	.step_wrapper li:nth-child(5) .right_units{
		background: -moz-linear-gradient(top,#9fcd9f,#95bf95);
        background: -ms-linear-gradient(top,#9fcd9f,#95bf95);
		background: -webkit-gradient(linear,left top,left bottom,from(#9fcd9f),to(#95bf95));
	}
	.step_wrapper li:nth-child(5) .right_units.getunit{
		background: -moz-linear-gradient(top,#70cd70,#6abf6a);
        background: -ms-linear-gradient(top,#70cd70,#6abf6a);
		background: -webkit-gradient(linear,left top,left bottom,from(#70cd70),to(#6abf6a));
	}
	/* 上から６番目 */
	.step_wrapper li:nth-child(6) .circle-body,.step_wrapper li:nth-child(6) .unit li dl dd{
		background-color: #03ea8b;
	}
	.step_wrapper li:nth-child(6) .chart-content .percent-number,
	.step_wrapper li:nth-child(6) .chart-content .percent-symbol,
	.step_wrapper li:nth-child(6) .chart-content .unit_text{
	    color: #5feab1;
	}
	.step_wrapper li:nth-child(6) .right_units{
		background: -moz-linear-gradient(top,#affadd,#a4eacd);
        background: -ms-linear-gradient(top,#affadd,#a4eacd);
		background: -webkit-gradient(linear,left top,left bottom,from(#affadd),to(#a4eacd));
	}
	.step_wrapper li:nth-child(6) .right_units.getunit{
		background: -moz-linear-gradient(top,#82facc,#7beabc);
        background: -ms-linear-gradient(top,#82facc,#7beabc);
		background: -webkit-gradient(linear,left top,left bottom,from(#82facc),to(#7beabc));
	}
	/* 上から７番目 */
	.step_wrapper li:nth-child(7) .circle-body,.step_wrapper li:nth-child(7) .unit li dl dd{
		background-color: #3ec8ce;
	}
	.step_wrapper li:nth-child(7) .chart-content .percent-number,
	.step_wrapper li:nth-child(7) .chart-content .percent-symbol,
	.step_wrapper li:nth-child(7) .chart-content .unit_text{
	    color: #78cace;
	}
	.step_wrapper li:nth-child(7) .right_units{
		background: -moz-linear-gradient(top,#b0dbe0,#a3ccce);
        background: -ms-linear-gradient(top,#b0dbe0,#a3ccce);
		background: -webkit-gradient(linear,left top,left bottom,from(#b0dbe0),to(#a3ccce));
	}
	.step_wrapper li:nth-child(7) .right_units.getunit{
		background: -moz-linear-gradient(top,#80d6e0,#78cace);
        background: -ms-linear-gradient(top,#80d6e0,#78cace);
		background: -webkit-gradient(linear,left top,left bottom,from(#80d6e0),to(#78cace));
	}
	/* 上から８番目 */
	.step_wrapper li:nth-child(8) .circle-body,.step_wrapper li:nth-child(8) .unit li dl dd{
		background-color: #2093f2;
	}
	.step_wrapper li:nth-child(8) .chart-content .percent-number,
	.step_wrapper li:nth-child(8) .chart-content .percent-symbol,
	.step_wrapper li:nth-child(8) .chart-content .unit_text{
	    color: #74b9f2;
	}
	.step_wrapper li:nth-child(8) .right_units{
		background: -moz-linear-gradient(top,#bcdeff,#b3d5f2);
        background: -ms-linear-gradient(top,#bcdeff,#b3d5f2);
		background: -webkit-gradient(linear,left top,left bottom,from(#bcdeff),to(#b3d5f2));
	}
	.step_wrapper li:nth-child(8) .right_units.getunit{
		background: -moz-linear-gradient(top,#78bcff,#74b9f2);
        background: -ms-linear-gradient(top,#78bcff,#74b9f2);
		background: -webkit-gradient(linear,left top,left bottom,from(#78bcff),to(#74b9f2));
	}
	/* 上から９番目 */
	.step_wrapper li:nth-child(9) .circle-body,.step_wrapper li:nth-child(9) .unit li dl dd{
		background-color: #0606ed;
	}
	.step_wrapper li:nth-child(9) .chart-content .percent-number,
	.step_wrapper li:nth-child(9) .chart-content .percent-symbol,
	.step_wrapper li:nth-child(9) .chart-content .unit_text{
	    color: #6262ed;
	}
	.step_wrapper li:nth-child(9) .right_units{
		background: -moz-linear-gradient(top,#b3b3ff,#a8a8ed);
        background: -ms-linear-gradient(top,#b3b3ff,#a8a8ed);
		background: -webkit-gradient(linear,left top,left bottom,from(#b3b3ff),to(#a8a8ed));
	}
	.step_wrapper li:nth-child(9) .right_units.getunit{
		background: -moz-linear-gradient(top,#6666ff,#6262ed);
        background: -ms-linear-gradient(top,#6666ff,#6262ed);
		background: -webkit-gradient(linear,left top,left bottom,from(#6666ff),to(#6262ed));
	}
	/* 上から１０番目 */
	.step_wrapper li:nth-child(10) .circle-body,.step_wrapper li:nth-child(10) .unit li dl dd{
		background-color: #702ba0;
	}
	.step_wrapper li:nth-child(10) .chart-content .percent-number,
	.step_wrapper li:nth-child(10) .chart-content .percent-symbol,
	.step_wrapper li:nth-child(10) .chart-content .unit_text{
	    color: #835aa0;
	}
	.step_wrapper li:nth-child(10) .right_units{
		background: -moz-linear-gradient(top,#a38bb2,#927da0);
        background: -ms-linear-gradient(top,#a38bb2,#927da0);
		background: -webkit-gradient(linear,left top,left bottom,from(#a38bb2),to(#927da0));
	}
	.step_wrapper li:nth-child(10) .right_units.getunit{
		background: -moz-linear-gradient(top,#9563b2,#835aa0);
        background: -ms-linear-gradient(top,#9563b2,#835aa0);
		background: -webkit-gradient(linear,left top,left bottom,from(#9563b2),to(#835aa0));
	}


/* * * * * * * * * * 地方創生プレゼンテーション * * * * * * * * * */
#cocplus .last_step{
	width:100%;
	position:relative;
	overflow:hidden;
	border-top: solid 2px #fff;
}
#cocplus .last_step .left_chart{
	text-align:center;
	height:400px;
	width:260px;
	position:absolute;
	background:#fff;
	top:0;
	left:0;
}
#cocplus .last_step .left_chart p.clear,#cocplus .last_step .left_chart p.challenge{
	font-size:32px;
	line-height:200px;
	letter-spacing:0.1em;
	color:#f00;
	margin-top:100px;
	margin-bottom:100px;
	display:none;
}
#cocplus .last_step .left_chart p.challenge img{
	width:180px;
}
#cocplus .last_step .left_chart p.clear img{
	width:180px;
}
#cocplus .last_step .left_chart .chart_box h4{
	text-align:center;
	font-size:22px;
	padding-top:40px;
}
#cocplus .last_step .right_units.get_pre{
	height:100%;
	background: -moz-linear-gradient(top,#ffa5d2,#f29fcd);
    background: -ms-linear-gradient(top,#ffa5d2,#f29fcd);
	background: -webkit-gradient(linear,left top,left bottom,from(#ffa5d2),to(#f29fcd));
}
#cocplus .last_step .right_units.challenge_pre{
	height:100%;
	background: -moz-linear-gradient(top,#ff6666,#ef6161);
    background: -ms-linear-gradient(top,#ff6666,#ef6161);
	background: -webkit-gradient(linear,left top,left bottom,from(#ff6666),to(#ef6161));
}
#cocplus .last_step .right_units{
	height:100%;
	background: -moz-linear-gradient(top,#ffb3b3,#efa8a8);
    background: -ms-linear-gradient(top,#ffb3b3,#efa8a8);
	background: -webkit-gradient(linear,left top,left bottom,from(#ffb3b3),to(#efa8a8));
}
#cocplus .last_step .right_units .unit{
	padding-top:77px;
	padding-bottom:77px;
	text-align:center;
}

/* * * * * PC-SP切り替えボタン * * * * */
#pc_sp_change{
    height:auto;
    overflow:hidden;
    background:#333333;
    width:100%;
    min-width: 1020px;
    padding: 20px 0;
}
#pc_sp_change div{
    position:relative;
    width:80%;
    max-width:400px;
    margin:0 auto;
}
#pc_sp_change div a{
    color:#fff;
    width:100%;
    height:100%;
    display:block;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    padding: 6px 0;
    border:solid 1px #fff;
    transition: background 0.3s ease-out,color 0.1s ease-out;
    -webkit-transition: background 0.3s ease-out,color 0.1s ease-out;
    -moz-ransition: background 0.3s ease-out,color 0.1s ease-out;
    -ms-transition: background 0.3s ease-out,color 0.1s ease-out;
}
#pc_sp_change div a:hover{
    color:#56b5b5;
    border:solid 1px #56b5b5;
    background:#fff;
}
#pc_sp_change div a span{
    transition: background 0.1s ease-out;
    -webkit-transition: background 0.1s ease-out;
    -moz-ransition: background 0.1s ease-out;
    -ms-transition: background 0.1s ease-out;
    background-image:url("../images/common/sp.png");
    background-size:24px 24px;
    background-position: left center;
    padding-left:28px;
}

#pc_sp_change div a:hover span{
    background-image:url("../images/common/sp_hover.png");
}
