body{font-family:'Open Sans',sans-serif,Verdana,"游ゴシック",YuGothic,"Hiragino Kaku Gothic ProN",Meiryo;}

li{list-style-type:none;}


/* * * * * * * * * * clearfix * * * * * * * * * */
.clearfix:after{
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.clearfix {display:inline-table;}



/* * * * * * * * * * メインビジュアル * * * * * * * * * */
#main_visual.kakutoku_img{
    background-image: url("../images/sp/main_bg.jpg");
    display: block;
    display:none;
}

#main_visual.challenge_img{
    background-image: url("../images/sp/main_bg.jpg");
    display: block;
    display:none;
}
#main_visual.yet_img{
    background-image: url("../images/sp/main_bg0.jpg");
    display: block;
    display:none;
}

#main_visualCoc.kakutoku_img{
    background-image: url("../images/sp/main_bg_coc.jpg");
    display: block;
    display:none;
}
#main_visualCoc.yet_img{
    background-image: url("../images/sp/main_bg0_coc.jpg");
    display: block;
    display:none;
}
#main_visual,#main_visualCoc{
    width:100%;
    height:260px;
    margin-top:44px;
    position:relative;
    overflow:hidden;
    display:none;
    background-size:cover;
    background-position:bottom center;
}
#main_visual img,#main_visualCoc img{
    position:absolute;
}
#main_visual.kakutoku_img .mv_title,#main_visualCoc.kakutoku_img .mv_title{
    width:252px;
    height:auto;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-60px;
    margin-left:-126px;
    z-index:100;
}
#main_visual.challenge_img .mv_title,#main_visualCoc.challenge_img .mv_title{
    width:336px;
    height:auto;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-26px;
    margin-left:-168px;
    z-index:100;
}
#main_visual.yet_img .mv_title,#main_visualCoc.yet_img .mv_title{
    width:346px;
    height:auto;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-39px;
    margin-left:-168px;
    z-index:100;
}
#main_visual img.mv_per01{
    bottom:-20px;
    width:100%;
    height:auto;
    z-index:49;
    position:absolute;
}
#main_visual img.mv_per02{
    bottom:-20px;
    width:100%;
    height:auto;
    z-index:48;
    position:absolute;
}
#main_visual img.mv_per03{
    bottom:-20px;
    width:100%;
    height:auto;
    z-index:47;
    position:absolute;
}
#main_visual img.mv_per04{
    bottom:-20px;
    left:50%;
    width:100%;
    height:auto;
    z-index:46;
    position:absolute;
}
#main_visual img.mv_per05{
    bottom:-20px;
    width:100%;
    height:auto;
    z-index:45;
    position:absolute;
}



/* * * * * * * * * * ヘッダー * * * * * * * * * */
#header,#headerCoc{
    background:#555555;
    height:44px;
    padding-left:20px;
    padding-right:20px;
    position:fixed;
    top:0;
    width:100%;
    z-index:500;
}

#header h1,#headerCoc h1{
    line-height:18px;
    height:18px;
    float:left;
    margin-top:13px;
    margin-bottom:13px;
}
#header h1 img,#headerCoc h1 img{
    height:18px;
    width:auto;
    line-height:18px;
    vertical-align:baseline;
}

#header a,#headerCoc a{
    float:right;
    color:#fff;
    border-radius:6px;
    padding:3px 6px;
    border:solid 1px #fff;
    background:rgba(255,255,255,0);
    transition:0.3s linear 0.1s;
    margin-top:6px;
    margin-bottom:6px;
}

#header a:hover,#headerCoc a:hover{
    color:#333;
    background:rgba(255,255,255,1);
}



/*   アコーディオン   */
.stepMenu{
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
}
.stepMenu dt{
    display:block;
    width:100%;
    height:100px;
    padding-left:26px;
    padding-right:26px;
    line-height:100px;
    cursor:pointer;
    background:rgba(128,128,128,0.6);
    border-bottom:solid 1px rgba(255,255,255,0.4);
}
.stepMenu dd{
    background:rgba(182,182,182,0.6);
    width:100%;
    height:auto;
    padding-left:20px;
    padding-right:20px;
    text-align:center;
    display:none;
    overflow:hidden;
}

.toggle_btn{
    -webkit-transition-property:background,-webkit-transform;
    -webkit-transition-duration:1s;
    transition-property:background,transform;
    transition-duration:1s;
}
.active .img{
    -webkit-transform: translate(200px,0) rotate(360deg);
    transform: translate(200px,0) rotate(360deg);
}

/*   ボタン   */

.step_btn h2{
    float:left;
    font-size:30px;
    line-height:100px;
    color:#fff;
    font-weight:100;
    letter-spacing:0.1em;
}
.step_btn .toggle_btn{
    float:right;
    height:100px;
    width:60px;
    padding-top:20px;
    padding-bottom:20px;
    transform: rotate(0deg);
    transition-duration: 0.4s;
}

.step_btn.active .toggle_btn{
    transform: rotate(-180deg);
}

.chart_wrapper{
    width:100%;
    overflow:hidden;
    margin-bottom:20px;
}



.unit_list{
    display:block;
    position:relative;
}
.unit_list{
    list-style-type:none;
}

.unit_list li.button_box{
    width:22%;
    margin-right:4%;
    margin-bottom:20px;
    float:left;
}
.unit_list li.button_box:nth-child(4n){
    margin-right:0;
}
.unit_list li.button_box a{
    display:block;
    width:98%;
}
.unit_icon{
    width:100%;
    height:auto;
}
.unit_title{
    font-size:10px;
    letter-spacing:-1px;
    line-height:1em;
    margin-top:6px;
    color:#fff;
    font-weight:100;
}
.button_box .unit_icon{
    background:#686871;
    border-radius:26%;
}



/*   モーダルウィンドウ   */
.modal-content{
    position:fixed;
    left:0;
    display:none;
    z-index:500;
    width:90%;
    margin:0;
    padding:10px 5%;
    text-align:left;
}
.modal-content li{
    margin-bottom:10px;
    padding:0;
    color:#fff;
    font-size:16px;
    letter-spacing:0.1em;
}
.modal-overlay{
    z-index:400;
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:120%;
    background-color:rgba(0,0,0,0.7);
}
.modal-open{
    color:#00f;
    text-decoration:none;
}
.modal-open:hover{
    cursor:pointer;
    color:#f00;
}
.modal-close{
    color:#00f;
    text-decoration:none;
}
.modal-close:hover{
    cursor:pointer;
    color:#f00;
}
.modal_btn{
    width:44%;
    float:left;
    margin-right:8%;
}
.modal_btn:last-of-type{
    margin-right:0;
}
.syllabus_btn,.modal-close{
    padding:16px 2px;
    display:block;
    background:#fff;
    color:#333;
    width:auto;
    border-radius:8px;
    text-align:center;
    font-size:12px;
    margin-top:14px;
    margin-bottom:14px;
}



/* * * * * * * * * * チャート * * * * * * * * * */

.chart{ 
    float: left;
    position: relative; 
    left: 50%;
    margin: 20px 0 20px -60px;
    width: 120px;
    height: 120px;
    background:#d1d1d1;
    border-radius:50%;
}
.circle-mask-outer,
.circle-mask-inner {
    overflow: hidden;
    position: absolute;
    width: 60px;
    height: 120px;
}
.circle-mask-outer.left {
    left: 0;
}
.circle-mask-outer.right {
    right: 0;
}
.circle-mask-outer.left .circle-mask-inner {
    left: 100%;
    -webkit-transform-origin: 0 50%;
        -ms-transform-origin: 0 50%;
            transform-origin: 0 50%;
}
.circle-mask-outer.right .circle-mask-inner {
    right: 100%;
    -webkit-transform-origin: 100% 50%;
        -ms-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
}
.circle-body {
    border-radius: 50%;
    position: absolute;
    width: 120px;
    height: 120px;
}
.circle-mask-outer.left .circle-body {
    right: 0;
}
.circle-mask-outer.right .circle-body {
    left: 0;
}
.chart-content {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    padding-top: 30px;
    text-align: center;
    -webkit-backface-visibility: hidden;
}
.chart-content .icon {}
.chart-content .text { 
    left: 5px;
    line-height: 1;
    position: relative;
}

.chart-content .percent-number {
    font-size: 24px;
    font-weight: normal;
}
.chart-content .percent-symbol {
    font-size: 18px;
}
.chart-content .unit_text{
    font-size:12px;
    letter-spacing: 0.1em;
    line-height: 40px;
}



/* * * * * * * * * * プレゼンテーション * * * * * * * * * */
.last_step{
    width:100%;
    height:140px;
    position:relative;
    overflow:hidden;
    border-top:solid 2px #fff;
    color:#fff;
}
.last_step .unit{
    width:100%;
    height:100%;
    display:block;
    padding:10px;
}
.last_step .unit.yet{
    background: -moz-linear-gradient(top,#ffd2e9,#f2c9e0);
    background: -webkit-gradient(linear,left top,left bottom,from(#ffd2e9),to(#f2c9e0));
    display:none;
}
.last_step .unit.challenge{
    background: -moz-linear-gradient(top,#ffa5d2,#f29fcd);
    background: -webkit-gradient(linear,left top,left bottom,from(#ffa5d2),to(#f29fcd));
    display:none;
}
.last_step .unit.get{
    background: -moz-linear-gradient(top,#ff69b4,#f268b4);
    background: -webkit-gradient(linear,left top,left bottom,from(#ff69b4),to(#f268b4));
    display:none;
}
.last_step .unit.yet h3 img{
    padding-top:14px;
    padding-bottom:14px;
}

.last_step h3{
    text-align:center;
    width:300px;
    height:50px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-25px;
    margin-left:-150px;
}
.last_step h3 img{
    position:relative;
    width:100%;
}



/* * * * * * * * * * 配色をセット（上のステップから） * * * * * * * * * */
    /* 地方創生プレゼンテーション */
    .last_step{
        width:100%;
        height:140px;
        position:relative;
        overflow:hidden;
        border-top:solid 2px #fff;
        color:#fff;
    }
    .last_step .unit{
        width:100%;
        height:100%;
        display:block;
        padding:10px;
    }
    .last_step .unit.yet{
        background: -moz-linear-gradient(top,#ffd2e9,#f2c9e0);
        background: -ms-linear-gradient(top,#ffd2e9,#f2c9e0);
        background: -webkit-gradient(linear,left top,left bottom,from(#ffd2e9),to(#f2c9e0));
        display:none;
    }
    .last_step .unit.challenge{
        background: -moz-linear-gradient(top,#ffa5d2,#f29fcd);
        background: -ms-linear-gradient(top,#ffa5d2,#f29fcd);
        background: -webkit-gradient(linear,left top,left bottom,from(#ffa5d2),to(#f29fcd));
        display:none;
    }
    .last_step .unit.get{
        background: -moz-linear-gradient(top,#ff69b4,#f268b4);
        background: -ms-linear-gradient(top,#ff69b4,#f268b4);
        background: -webkit-gradient(linear,left top,left bottom,from(#ff69b4),to(#f268b4));
        display:none;
    }
    .last_step .unit.yet h3 img{
        padding-top:14px;
        padding-bottom:14px;
    }

    .last_step h3{
        text-align:center;
        width:300px;
        height:50px;
        position:absolute;
        top:50%;
        left:50%;
        margin-top:-25px;
        margin-left:-150px;
    }
    .last_step h3 img{
        position:relative;
        width:100%;
    }
    /* 上から１番目 */
    .step_wrapper li:first-of-type .circle-body,
    .step_wrapper li:first-of-type .unit li dl dd{
        background-color: #ef5945;
    }
    .step_wrapper li:first-of-type .chart-content .percent-number,
    .step_wrapper li:first-of-type .chart-content .percent-symbol,
    .step_wrapper li:first-of-type .chart-content .unit_text{
        color: #ef9589;
    }
    .step_wrapper li:first-of-type .step_btn,
    .step_wrapper li:first-of-type dd{
        background: -moz-linear-gradient(top,#ffd0c8,#efc2bc);
        background: -ms-linear-gradient(top,#ffd0c8,#efc2bc);
        background: -webkit-gradient(linear,left top,left bottom,from(#ffd0c8),to(#efc2bc));
    }
    .step_wrapper li.getunit:first-of-type .step_btn,
    .step_wrapper li.getunit:first-of-type dd{
        background: -moz-linear-gradient(top,#ffa191,#ef9589);
        background: -ms-linear-gradient(top,#ffa191,#ef9589);
        background: -webkit-gradient(linear,left top,left bottom,from(#ffa191),to(#ef9589));
    }
    .step_wrapper li:first-of-type .button_box.get .unit_icon{
        background:#ef5945;
    }
    /* 上から２番目 */
    .step_wrapper li:nth-child(2) .circle-body,
    .step_wrapper li:nth-child(2) .unit li dl dd{
        background-color: #ef7e03;
    }
    .step_wrapper li:nth-child(2) .chart-content .percent-number,
    .step_wrapper li:nth-child(2) .chart-content .percent-symbol,
    .step_wrapper li:nth-child(2) .chart-content .unit_text{
        color: #efab61;
    }
    .step_wrapper li:nth-child(2) .step_btn,
    .step_wrapper li:nth-child(2) dd{
        background: -moz-linear-gradient(top,#ffddb3,#efcda8);
        background: -ms-linear-gradient(top,#ffddb3,#efcda8);
        background: -webkit-gradient(linear,left top,left bottom,from(#ffddb3),to(#efcda8));
    }
    .step_wrapper li.getunit:nth-child(2) .step_btn,
    .step_wrapper li.getunit:nth-child(2) dd{
        background: -moz-linear-gradient(top,#ffba66,#efab61);
        background: -ms-linear-gradient(top,#ffba66,#efab61);
        background: -webkit-gradient(linear,left top,left bottom,from(#ffba66),to(#efab61));
    }
    .step_wrapper li:nth-child(2) .button_box.get .unit_icon{
        background:#ef7e03;
    }
    /* 上から３番目 */
    .step_wrapper li:nth-child(3) .circle-body,
    .step_wrapper li:nth-child(3) .unit li dl dd{
        background-color: #efc203;
    }
    .step_wrapper li:nth-child(3) .chart-content .percent-number,
    .step_wrapper li:nth-child(3) .chart-content .percent-symbol,
    .step_wrapper li:nth-child(3) .chart-content .unit_text{
        color: #efd461;
    }
    .step_wrapper li:nth-child(3) .step_btn,
    .step_wrapper li:nth-child(3) dd{
        background: -moz-linear-gradient(top,#fff3b3,#efe2a8);
        background: -ms-linear-gradient(top,#fff3b3,#efe2a8);
        background: -webkit-gradient(linear,left top,left bottom,from(#fff3b3),to(#efe2a8));
    }
    .step_wrapper li.getunit:nth-child(3) .step_btn,
    .step_wrapper li.getunit:nth-child(3) dd{
        background: -moz-linear-gradient(top,#ffe766,#efd461);
        background: -ms-linear-gradient(top,#ffe766,#efd461);
        background: -webkit-gradient(linear,left top,left bottom,from(#ffe766),to(#efd461));
    }
    .step_wrapper li:nth-child(3) .button_box.get .unit_icon{
        background:#efc203;
    }
    /* 上から４番目 */
    .step_wrapper li:nth-child(4) .circle-body,
    .step_wrapper li:nth-child(4) .unit li dl dd{
        background-color: #9acd32;
    }
    .step_wrapper li:nth-child(4) .chart-content .percent-number,
    .step_wrapper li:nth-child(4) .chart-content .percent-symbol,
    .step_wrapper li:nth-child(4) .chart-content .unit_text{
        color: #a6bf6a;
    }
    .step_wrapper li:nth-child(4) .step_btn,
    .step_wrapper li:nth-child(4) dd{
        background: -moz-linear-gradient(top,#becd9f,#b3bf95);
        background: -ms-linear-gradient(top,#becd9f,#b3bf95);
        background: -webkit-gradient(linear,left top,left bottom,from(#becd9f),to(#b3bf95));
    }
    .step_wrapper li.getunit:nth-child(4) .step_btn,
    .step_wrapper li.getunit:nth-child(4) dd{
        background: -moz-linear-gradient(top,#aecd70,#a6bf6a);
        background: -ms-linear-gradient(top,#aecd70,#a6bf6a);
        background: -webkit-gradient(linear,left top,left bottom,from(#aecd70),to(#a6bf6a));
    }
    .step_wrapper li:nth-child(4) .button_box.get .unit_icon{
        background:#9acd32;
    }
    /* 上から５番目 */
    .step_wrapper li:nth-child(5) .circle-body,
    .step_wrapper li:nth-child(5) .unit li dl dd{
        background-color: #32bf32;
    }
    .step_wrapper li:nth-child(5) .chart-content .percent-number,
    .step_wrapper li:nth-child(5) .chart-content .percent-symbol,
    .step_wrapper li:nth-child(5) .chart-content .unit_text{
        color: #6abf6a;
    }
    .step_wrapper li:nth-child(5) .step_btn,
    .step_wrapper li:nth-child(5) dd{
        background: -moz-linear-gradient(top,#9fcd9f,#95bf95);
        background: -ms-linear-gradient(top,#9fcd9f,#95bf95);
        background: -webkit-gradient(linear,left top,left bottom,from(#9fcd9f),to(#95bf95));
    }
    .step_wrapper li.getunit:nth-child(5) .step_btn,
    .step_wrapper li.getunit:nth-child(5) dd{
        background: -moz-linear-gradient(top,#70cd70,#6abf6a);
        background: -ms-linear-gradient(top,#70cd70,#6abf6a);
        background: -webkit-gradient(linear,left top,left bottom,from(#70cd70),to(#6abf6a));
    }
    .step_wrapper li:nth-child(5) .button_box.get .unit_icon{
        background:#32bf32;
    }
    /* 上から６番目 */
    .step_wrapper li:nth-child(6) .circle-body,
    .step_wrapper li:nth-child(6) .unit li dl dd{
        background-color: #03ea8b;
    }
    .step_wrapper li:nth-child(6) .chart-content .percent-number,
    .step_wrapper li:nth-child(6) .chart-content .percent-symbol,
    .step_wrapper li:nth-child(6) .chart-content .unit_text{
        color: #5feab1;
    }
    .step_wrapper li:nth-child(6) .step_btn,
    .step_wrapper li:nth-child(6) dd{
        background: -moz-linear-gradient(top,#affadd,#a4eacd);
        background: -ms-linear-gradient(top,#affadd,#a4eacd);
        background: -webkit-gradient(linear,left top,left bottom,from(#affadd),to(#a4eacd));
    }
    .step_wrapper li.getunit:nth-child(6) .step_btn,
    .step_wrapper li.getunit:nth-child(6) dd{
        background: -moz-linear-gradient(top,#64fac0,#5feab1);
        background: -ms-linear-gradient(top,#64fac0,#5feab1);
        background: -webkit-gradient(linear,left top,left bottom,from(#64fac0),to(#5feab1));
    }
    .step_wrapper li:nth-child(6) .button_box.get .unit_icon{
        background:#03ea8b;
    }
    /* 上から７番目 */
    .step_wrapper li:nth-child(7) .circle-body,
    .step_wrapper li:nth-child(7) .unit li dl dd{
        background-color: #3ec8ce;
    }
    .step_wrapper li:nth-child(7) .chart-content .percent-number,
    .step_wrapper li:nth-child(7) .chart-content .percent-symbol,
    .step_wrapper li:nth-child(7) .chart-content .unit_text{
        color: #78cace;
    }
    .step_wrapper li:nth-child(7) .step_btn,
    .step_wrapper li:nth-child(7) dd{
        background: -moz-linear-gradient(top,#b0dbe0,#a3ccce);
        background: -ms-linear-gradient(top,#b0dbe0,#a3ccce);
        background: -webkit-gradient(linear,left top,left bottom,from(#b0dbe0),to(#a3ccce));
    }
    .step_wrapper li.getunit:nth-child(7) .step_btn,
    .step_wrapper li.getunit:nth-child(7) dd{
        background: -moz-linear-gradient(top,#80d6e0,#78cace);
        background: -ms-linear-gradient(top,#80d6e0,#78cace);
        background: -webkit-gradient(linear,left top,left bottom,from(#80d6e0),to(#78cace));
    }
    .step_wrapper li:nth-child(7) .button_box.get .unit_icon{
        background:#3ec8ce;
    }
    /* 上から８番目 */
    .step_wrapper li:nth-child(8) .circle-body,
    .step_wrapper li:nth-child(8) .unit li dl dd{
        background-color: #2093f2;
    }
    .step_wrapper li:nth-child(8) .chart-content .percent-number,
    .step_wrapper li:nth-child(8) .chart-content .percent-symbol,
    .step_wrapper li:nth-child(8) .chart-content .unit_text{
        color: #74b9f2;
    }
    .step_wrapper li:nth-child(8) .step_btn,
    .step_wrapper li:nth-child(8) dd{
        background: -moz-linear-gradient(top,#bcdeff,#b3d5f2);
        background: -ms-linear-gradient(top,#bcdeff,#b3d5f2);
        background: -webkit-gradient(linear,left top,left bottom,from(#bcdeff),to(#b3d5f2));
    }
    .step_wrapper li.getunit:nth-child(8) .step_btn,
    .step_wrapper li.getunit:nth-child(8) dd{
        background: -moz-linear-gradient(top,#78bcff,#74b9f2);
        background: -ms-linear-gradient(top,#78bcff,#74b9f2);
        background: -webkit-gradient(linear,left top,left bottom,from(#78bcff),to(#74b9f2));
    }
    .step_wrapper li:nth-child(8) .button_box.get .unit_icon{
        background:#2093f2;
    }
    /* 上から９番目 */
    .step_wrapper li:nth-child(9) .circle-body,
    .step_wrapper li:nth-child(9) .unit li dl dd{
        background-color: #0606ed;
    }
    .step_wrapper li:nth-child(9) .chart-content .percent-number,
    .step_wrapper li:nth-child(9) .chart-content .percent-symbol,
    .step_wrapper li:nth-child(9) .chart-content .unit_text{
        color: #6262ed;
    }
    .step_wrapper li:nth-child(9) .step_btn,
    .step_wrapper li:nth-child(9) dd{
        background: -moz-linear-gradient(top,#b3b3ff,#a8a8ed);
        background: -ms-linear-gradient(top,#b3b3ff,#a8a8ed);
        background: -webkit-gradient(linear,left top,left bottom,from(#b3b3ff),to(#a8a8ed));
    }
    .step_wrapper li.getunit:nth-child(9) .step_btn,
    .step_wrapper li.getunit:nth-child(9) dd{
        background: -moz-linear-gradient(top,#6666ff,#6262ed);
        background: -ms-linear-gradient(top,#6666ff,#6262ed);
        background: -webkit-gradient(linear,left top,left bottom,from(#6666ff),to(#6262ed));
    }
    .step_wrapper li:nth-child(9) .button_box.get .unit_icon{
        background:#0606ed;
    }
    /* 上から10番目 */
    .step_wrapper li:nth-child(10) .circle-body,
    .step_wrapper li:nth-child(10) .unit li dl dd{
        background-color: #702ba0;
    }
    .step_wrapper li:nth-child(10) .chart-content .percent-number,
    .step_wrapper li:nth-child(10) .chart-content .percent-symbol,
    .step_wrapper li:nth-child(10) .chart-content .unit_text{
        color: #835aa0;
    }
    .step_wrapper li:nth-child(10) .step_btn,
    .step_wrapper li:nth-child(10) dd{
        background: -moz-linear-gradient(top,#a38bb2,#927da0);
        background: -ms-linear-gradient(top,#a38bb2,#927da0);
        background: -webkit-gradient(linear,left top,left bottom,from(#a38bb2),to(#927da0));
    }
    .step_wrapper li.getunit:nth-child(10) .step_btn,
    .step_wrapper li.getunit:nth-child(10) dd{
        background: -moz-linear-gradient(top,#9563b2,#835aa0);
        background: -ms-linear-gradient(top,#9563b2,#835aa0);
        background: -webkit-gradient(linear,left top,left bottom,from(#9563b2),to(#835aa0));
    }
    .step_wrapper li:nth-child(10) .button_box.get .unit_icon{
        background:#702ba0;
    }


/* * * * * PC-SP切り替えボタン * * * * */
#pc_sp_change{
    height:auto;
    overflow:hidden;
    background:#333333;
    width:100%;
    padding: 18px 0;
}
#pc_sp_change div{
    position:relative;
    width:80%;
    max-width:400px;
    margin:0 auto;
}
#pc_sp_change div a{
    color:#fff;
    display:block;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 4px 0;
    border:solid 1px #fff;
    transition: background 0.3s ease-out,color 0.1s ease-out;
    -webkit-transition: background 0.3s ease-out,color 0.1s ease-out;
    -moz-ransition: background 0.3s ease-out,color 0.1s ease-out;
    -ms-transition: background 0.3s ease-out,color 0.1s ease-out;
}
#pc_sp_change div a:hover{
    color:#56b5b5;
    border:solid 1px #56b5b5;
    background:#fff;
}
#pc_sp_change div a span{
    transition: background 0.1s ease-out;
    -webkit-transition: background 0.1s ease-out;
    -moz-ransition: background 0.1s ease-out;
    -ms-transition: background 0.1s ease-out;
    background-image:url("../images/common/pc.png");
    background-size:16px 16px;
    background-position: left center;
    padding-left:24px;
}

#pc_sp_change div a:hover span{
    background-image:url("../images/common/pc_hover.png");
}
